.header__films_authorize {
    background-color: #073042;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    padding: 0;
    margin-right: 20px;
    cursor: pointer;
}

.header__films_authorize:hover {
    opacity: 0.8;
}