.about-project__figcaption {
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
}

@media (min-width: 700px) and (max-width: 880px) {
    .about-project__figcaption {
        padding-bottom: 90px;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .about-project__figcaption{
        padding-bottom: 70px;
    }
}