.about-project__front-back_back {
    background-color: #3DDC84;
    color: #000000;
    width: 228px;
    height: 36px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 700px) and (max-width: 880px) {
    .about-project__front-back_back {
        width: 140px;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .about-project__front-back_back {
        font-size: 11px;
        line-height: 13px;
        width: 100px;
    }
}