.about-project__front-back {
    display: flex;
    margin: 110px auto 14px;
    justify-content: center;
}

@media (min-width: 700px) and (max-width: 880px) {
    .about-project__front-back {
        margin: 93px auto 14px;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .about-project__front-back {
        margin: 60px auto 10px;
    }
}