.error__number {
    font-weight: normal;
    font-size: 140px;
    line-height: 169px;
    color: #FFFFFF;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 700px) {
    .error__number {
        font-size: 80px;
        line-height: 97px;
    }
}