.techs__blocks_technology {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 21px 0;
    background: #303030;
    border-radius: 10px;
}

@media (min-width: 700px) and (max-width: 880px) {
    .techs__blocks_technology {
        max-width: 84px;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .techs__blocks_technology {
        padding: auto;
        max-width: 84px;
    }
}