.profile__form_input-red {
    background-color: #202020;
    border: 0;
    border-bottom: 1px solid #424242;;
    width: 100%;
    padding-bottom: 16px;
    color: #EE3465;
}

.profile__form_input-red:last-of-type {
    padding-bottom: 0;
    padding-top: 17px;
}