.profile__form_input {
    background-color: #202020;
    border: 0;
    width: 100%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__form_input::placeholder {
    color: #FFFFFF;
}