.search__input_red {
    background-color: #202020;
    border: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #8B8B8B;
    /* background: url('../../../images/search.svg') no-repeat top right; */
    width: 100%;
    border-bottom: 1px solid #EE3465;
    padding-bottom: 13px;
}

.search__input_red:hover {
    opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 700px) {
    .search__input_red {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 9px;
        background-size: 80px 34px;
        height: 34px;
    }
}