.search {
    background-color: #202020;
    padding: 70px 70px 32px;
}

@media (min-width: 700px) and (max-width: 880px) {
    .search {
        padding: 80px 30px 29px;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .search {
        padding: 90px 14px 40px;
    }
}