.footer__br {
    height: 1px;
    background-color: #424242;
    border: 0;
    margin: 0 auto 20px;
}

@media (min-width: 881px) and (max-width: 1200px) {
    .footer__br {
        margin: 0 50px 20px 50px;
    }
}

@media (min-width: 320px) and (max-width: 699px) {
    .footer__br {
        margin-bottom: 30px;
    }
}