.about-me {
    background-color: #202020;
    color: #FFFFFF;
    padding: 0 70px;
    margin-bottom: -1px;
    margin-top: -1px;
}

@media (min-width: 700px) and (max-width: 880px) {
    .about-me {
        padding: 0 50px;
    }
}

@media (min-width: 320px) and (max-width: 699px) {
    .about-me {
        padding: 0 4.375%;
    }
}